fastapi
uvicorn
httpx
requests
aiofiles
pydantic
starlette
bokeh
celery
Jinja2
itsdangerous
gunicorn
uvloop
httptools
redis
aioredis
redisearch
jsonschema
asyncer
pandas
dask
scipy
bottleneck
numbagg
netcdf4
nc-time-axis
sparse
pint
xarray[complete]
python-jose
passlib
python-multipart
pylint
pycodestyle
black
setuptools